
<div class="collapse">
  <input type="checkbox" /> 
  <div class="collapse-title align-center font-medium">
    + Add Messages
  </div>
  <div class="collapse-content"> 
  Add mesages to the chatbot. User a USER ASSISTANT text format, or paste json.
    <form class="w-full" hx-post="./messages/" hx-target="#messages" hx-swap="beforeend">
<textarea aria-label="messages" name="content" class="textarea w-full textarea-bordered h-32">
ASSISTANT: How are you doing today?
USER: I am doing well, thank you. How about you?
</textarea>
        <button class="btn mt-2">Submit Messages</button>
    </form>
  </div>
</div>