<div id="messages" class="flex flex-col">
    {{ range .}}
        {{ template "message.partials.html" .}}

        {{ if and (not .TestMessageID )  (eq .Role "assistant") }}
            <div class="collapse collapse-arrow">
                <input type="checkbox" /> 
                <div class="collapse-title text-md px-0 font-bold">
                    Show AI Responses
                </div>
                <div class="collapse-content"> 
                    {{ range .TestMessages }}
                        {{ template "message.partials.html" .}}
                    {{ end }}
                </div>
            </div>
        {{ end }}

    {{ end}}
</div>